<div class="options__towns">
    <a href="#" class="towns__title">Другой город</a>
    <ul ng-show="flag" class="towns__list">
        <li class="towns-item">Последние города</li>
        <li ng-repeat="town in towns" class="towns-item">
            <a ng-class="{'towns-item__link-active' : town.geoid == geocode.geoid}"
               ng-href="#/?geoid={{town.geoid}}" ng-click="onTownChange(town.geoid, town.name)" class="towns-item__link">
                {{town.name}} ({{town.temp}})</a>
        </li>
        <li class="towns-item-all">
            <a ng-href="#" ng-click="onAllCitiesClick()" class="towns-item__link-all">Все города</a>
        </li>
    </ul>
</div>