.content {
    margin-bottom: 20px;

	.content__left {

		.currentCity__table {
			margin-top: 25px;
			
			color: #6d6e6e;
			font-size: 13px;
			line-height: 18px;

			td {
				width: 68px;
				padding: 10px 6px;
				background-image: url('../img/transparentGradientWeatherCell.png');
				background-repeat: repeat-y;

				&:nth-child(1) {
					width: 154px;
					padding: 10px;
					color: #000;
					font-size: 18px;
					background-image: none;

					.temperature {
						font-size: 27px;
					}

					.weatherIcon {
						padding-top: 10px;
						font-size: 11px;
						vertical-align: top;
					}
				}

				&:nth-child(5) {
					width: 290px;
				}
			}

			.temperature {
				font-size: 16px;
				color: #000;

				&:after {
					content: " °C";
				}
			}
		}

		.helpIcon {
			display: inline-block;
			width: 10px;
			height: 10px;
			background: url('../img/helpIcon.png');
		}
	}

	.content__right {
		float: right;
		width: 300px;
	}
}