.footer {
	padding: 15px 0;
	border-top: 1px solid #d6d5d2;

	font-size: 11px;
	line-height: 18px;

	a {
		color: #747eaf;
	}

	ul {
		float: left;
		width: 20%;
	}

	.info {
		float: left;
		width: 40%;
	}
	
	.copyright {
		float: left;
		width: 20%;
		
		text-align: right;
	}
}