
extends layout

block content
    include header
    include forecast-main
    case type
        when "short"
            include forecast-short
        when "full"
            include forecast-full
        when "hours"
            include forecast-hours
    include direct
    include services
