section.forecast.clearfix
    .forecast-shortly
        ul.forecast-shortly__menu
          li
            a.menu__item(href='/') Кратко
          li
            a.menu__item(href='/full') Подробно
          li
            a.menu__item.menu__item-active(href='/hours') Наглядно
        //
           /.forecast-shortly__menu
        .forecast__data
          ul.forecast-shortly__menu.forecast-shortly__menu-right
            li
              a.menu__item.menu__item-active(data-class='.forecast-hours', href='#') График 1
            li
              a.menu__item(data-class='.forecast-canvas', href='#') График 2
          //
             /.forecast-shortly__menu
          .chart.forecast-hours
          //
             /.forecast-hours
          canvas.chart.forecast-canvas.hidden
          //
             /.forecast-canvas
        //
           /.forecast__data
      //
         /.forecast-full
    //
       /.forecast
