section.direct.clearfix
    a.direct__link(href='http://direct.yandex.ru') Яндекс.Директ
    .direct__list.clearfix
      .ads
        h2.ads__title Студия элитной итальянской мебели
        p.ads__description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, fuga, quasi. Neque ex error mollitia maxime eum enim corrupti voluptatum officia ipsum, impedit quidem ipsam laborum aut excepturi. Nemo, dicta.
        a.ads__link(href='#') Адрес и телефон
      .ads
        h2.ads__title Студия элитной итальянской мебели
        p.ads__description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, fuga, quasi. Neque ex error mollitia maxime eum enim corrupti voluptatum officia ipsum, impedit quidem ipsam laborum aut excepturi. Nemo, dicta.
        a.ads__link(href='#') Адрес и телефон
      .ads
        h2.ads__title Студия элитной итальянской мебели
        p.ads__description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, fuga, quasi. Neque ex error mollitia maxime eum enim corrupti voluptatum officia ipsum, impedit quidem ipsam laborum aut excepturi. Nemo, dicta.
        a.ads__link(href='#') Адрес и телефон