.services.clearfix
    .services__item
        h2.service__title Погода на карте
        ul.service__list
          li.service__link
            a(href='#') Центр России
          li.service__link
            a(href='#') Россия
          li.service__link
            a(href='#') Европа
      .services__item
        h2.service__title Другие прогнозы
        ul.service__list
          li.service__link
            a(href='#') Гисметео
          li.service__link
            a(href='#') Гидрометцентр России
          li.service__link
            a(href='#') Weather.com
      .services__item
        h2.service__title Погода с собой
        ul.service__list
          li.service__link
            a(href='#') Информер
          li.service__link
            a(href='#') Настольный виджет
          li.service__link
            a(href='#') Погода в вашем браузере
      .service__title
        h2.service__title Другой вид
        ul.service__list
          li.service__link
            a(href='#') Виджет для Яндекса
          li.service__link
            a(href='#') В миниатюре
    //
       /.services 
