/* Собираем less представление проекта */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.wrap {
  width: 960px;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.head {
  margin: 14px 0 46px;
}
.logo {
  float: left;
  width: 81px;
}
.searchBar {
  float: left;
  width: 340px;
  height: 32px;
  margin: 1px 0 0 25px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.searchBar div.label {
  position: relative;
  top: -1px;
  left: -1px;
  float: left;
  width: 88px;
  height: 32px;
  background: url('../img/searchLabel.png');
  font-size: 16px;
  text-align: center;
  line-height: 32px;
}
.searchBar input[type="text"] {
  float: left;
  height: 32px;
  width: 180px;
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  line-height: 14px;
}
.searchBar input[type="submit"] {
  float: left;
  height: 31px;
  border: 0;
  background: transparent;
  width: 70px;
  border-left: 1px solid #ccc;
  font-size: 15px;
}
.profile {
  float: right;
  min-width: 134px;
}
.profile .userpic {
  display: inline-block;
  width: 42px;
  height: 42px;
}
.profile span {
  display: inline-block;
  margin-left: 10px;
  line-height: 42px;
  font-size: 13px;
  vertical-align: top;
}
.profile span:first-letter {
  color: #f00;
}
.content .content__left {
  float: left;
  width: 660px;
}
.content .content__left .currentCity__title {
  font-size: 22px;
}
.content .content__left .citySelector {
  position: relative;
  display: inline-block;
  margin-left: 17px;
  padding: 7px 26px 7px 13px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 13px;
}
.content .content__left .citySelector:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 26px;
  right: 7px;
  top: 1px;
  background: url('../img/selectorIcon.png');
}
.content .content__left .currentCity__table {
  margin-top: 25px;
  color: #6d6e6e;
  font-size: 13px;
  line-height: 18px;
}
.content .content__left .currentCity__table td {
  width: 68px;
  padding: 10px 6px;
  background-image: url('../img/transparentGradientWeatherCell.png');
  background-repeat: repeat-y;
}
.content .content__left .currentCity__table td:nth-child(1) {
  width: 154px;
  padding: 10px;
  color: #000;
  font-size: 18px;
  background-image: none;
}
.content .content__left .currentCity__table td:nth-child(1) .temperature {
  font-size: 27px;
}
.content .content__left .currentCity__table td:nth-child(1) .weatherIcon {
  padding-top: 10px;
  font-size: 11px;
  vertical-align: top;
}
.content .content__left .currentCity__table td:nth-child(5) {
  width: 290px;
}
.content .content__left .currentCity__table .temperature {
  font-size: 16px;
  color: #000;
}
.content .content__left .currentCity__table .temperature:after {
  content: " °C";
}
.content .content__left .helpIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../img/helpIcon.png');
}
.content .content__right {
  float: right;
  width: 300px;
}
.direct {
  margin-bottom: 35px;
}
.direct a.directLink {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}
.direct .adsList {
  margin-top: 5px;
  padding: 15px;
  background: #f6f5f3;
}
.direct .adsList .ads {
  float: left;
  width: 33%;
  padding: 0 5%;
  font-size: 12px;
}
.direct .adsList .ads h2 {
  color: #888888;
  line-height: 1.2em;
  font-size: 20px;
}
.direct .adsList .ads p {
  margin: 10px 0;
}
.direct .adsList .ads a {
  color: #30552f;
  text-decoration: none;
}
.servicesList .service {
  float: left;
  width: 25%;
  padding-right: 5%;
}
.servicesList .service h2 {
  font-size: 126px;
  line-height: 24px;
}
.servicesList .service ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
}
