.forecast__data
  ul.forecast-shortly__row
    li.forecast-shortly__item(ng-repeat="day in locality.forecast", ng-show="{{!$first}}", ng-class="{'forecast-shortly__item-weekend' : day.weekDay == 0}")
      ul
        li.forecast-shortly__date
          .date.date-bigger(ng-class="{'date-red' : day.weekDay == 6 || day.weekDay == 0}") {{$index == 1 ? 'завтра' : days[day.weekDay]}}
          .date(ng-class="{'date-red' : day.weekDay == 6 || day.weekDay == 0}") {{$index == 1 ? day.weekDay + ' ' + months[day.month] : day.day}}
        li.forecast-shortly__day
          img.weather__icon(ng-src='http://ekb.shri14.ru/icons/{{day.parts[1].weather_icon}}.svg')
          .weather__description {{day.parts[1].weather}}
          .temperature-bigger {{day.parts[1].temp}}
        li.forecast-shortly__night {{day.parts[3].temp}}
