section.forecast.clearfix
    .forecast-shortly
        ul.forecast-shortly__menu
          li
            a.menu__item.menu__item-active(href='/') Кратко
          li
            a.menu__item(href='/full') Подробно
          li
            a.menu__item(href='/hours') Наглядно
        //
           /.forecast-shortly__menu
        .forecast__data
          ul.forecast-shortly__row
            li.forecast-shortly__item.forecast-shortly__item-weekend
              ul
                li.forecast-shortly__date
                  .date.date-bigger.date-red завтра
                  .date.date-red 13 ноября
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger.date-red пн
                  .date.date-red 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger.date-red пн
                  .date.date-red 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
            li.forecast-shortly__item
              ul
                li.forecast-shortly__date
                  .date.date-bigger пн
                  .date 14
                li.forecast-shortly__day
                  img.weather__icon(src='http://ekb.shri14.ru/icons/bkn_d.svg')
                  .weather__description облачно с прояснениями, небольшой дождь
                  .temperature-bigger +20
                li.forecast-shortly__night +8
        //
           /.forecast__data
      //
         /.forecast-shortly
    //
       /.forecast
