.forecast__data
  ul.forecast-shortly__row
    li.forecast-shortly__item(ng-repeat="day in locality.forecast", ng-show="{{!$first}}", ng-class="{'forecast-shortly__item-weekend' : day.weekDay == 0 || day.weekDay == 6 }")
      ul
        li.forecast-shortly__date
          .date.date-bigger {{$index == 1 ? 'завтра' : locality.days[day.weekDay]}}
          .date {{$index == 1 ? day.day + ' ' + locality.months[day.month] : day.day}}
        li.forecast-shortly__day
          img.weather__icon(ng-src='http://ekb.shri14.ru/icons/{{day.parts[4].weather_icon}}.svg')
          .weather__description {{day.parts[4].weather}}
          .temperature-bigger {{day.parts[4].temp}}
        li.forecast-shortly__night {{day.parts[5].temp}}
